{% extends 'base.html' %}
{% block content %}

<h1>BE@R COLLECTION</h1>

{% for bear in bears %}
  <div class="card">

    <a href="{% url 'detail' bear.id %}">
        <div class="card-content">
          <span class="card-title">{{ bear.name }}</span>
            <p>Price: {{ bear.price }}</p>
            <p>Description: {{ bear.description }}</p>
              <p>Size: {{ bear.size }}</p>
        </div>
      <!-- and this following one as well -->
      </a>

  </div>
{% endfor %}

{% endblock %}